* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    color: rgba(0, 0, 0, 0.879);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.title {
    size: 115%;
    font-weight: bolder;
    padding-bottom: 3px;
    padding-top: 12px;
}

.body {
    size: 92%;
    font-weight: normal;
    padding-bottom: 3px;
}

.date {
    size: 33%;
    text-transform: uppercase;
    color: #53a7ea;
    padding-bottom: 6px;
    font-size: 66%;
}

input-placeholder {
    color: gray;
    font-size: 20em;
    padding text-align: left;
    text-decoration: none;
    justify-content: top;
}

ul {
    list-style: none;
    padding-left: 0;
}

hr {
    color: #292D3E;
    width: 5px;
    length:
}

.note-input {
    width: 40em;
    height: 25em;
}

.title-input {
    width: 40em;
}

button {
    color: #53a7ea;
    background-color: #292D3E;
    border: 1px solid #53a7ea;
    border-radius: 4px;
    padding: 0 15px;
    width: 32em;
    cursor: pointer;
    height: 38.5px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    opacity: .5;
}

.button-edit {
    color: #53a7ea;
    background-color: white;
    border: 1px solid #53a7ea;
    border-radius: 4px;
    width: 6em;
    cursor: pointer;
    height: 20px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    opacity: .5;
    margin: 4px;
}

.button-delete {
    color: white;
    background-color: #53a7ea;
    border: 1px solid #53a7ea;
    border-radius: 4px;
    width: 6em;
    cursor: pointer;
    height: 20px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    opacity: .5;
    margin: 4px;
}

button:hover {
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    background: -webkit-linear-gradient(#eee, #53a7ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #53a7ea;
    font-size: 22px;
}

hr {
    width: 100%;
    padding-left: 0;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: top;
    /* border: solid red 2px; */
}

.button-container {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: flex-start;
    align-items: top;
    padding: 5px;
    /* border: solid red 2px; */
}

.new-note-space {
    /* flex-basis: 400px; */
    flex-shrink: 1.5;
    order: 1;
    /* border: solid red; */
    width: 300px;
    padding-bottom: 0;
}

.note-list {
    order: 2;
    /* border: solid red; */
    width: 40em;
    color: gray;
    height: 40em;
}

.standardText {
    font-family: Arial, Helvetica, sans-serif;
    size: 80% color: rgb(89, 91, 94) padding: 12px;
}

body {
    padding-left: 25px;
    background: #FFFFFF;
    font-family: "Teko", sans-serif;
    margin: 0;
    transition: .25s ease-in-out;
}


/* .controller {
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    min-width: 100px;
    padding: 10px 15px 8px 15px;
    position: absolute;
    font-size: 22px;
    border: solid 3px rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    margin: -22px 0 0 -68px;
    cursor: pointer;
    transition: .25s ease-in-out;
    z-index: 500;
}

/*Ripple*/


/* .ripple {
    width: 10px;
    height: 10px;
    opacity: 0;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: fixed;
} */


/*Bright Ripple*/


/* body.dark {
    background: rgba(0, 0, 0, 0.9);
}
body.dark .ripple {
    background: rgba(255, 255, 255, 0.5);
}
body.dark .controller {
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
} */


/*Animate Function*/


/* .animate {
    animation: ripple-mo 1s cubic-bezier(0, 0, 0.2, 1);
}
@keyframes ripple-mo {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    
    100% {
        transform: scale(10);
        opacity: 0;
    }
} */